/* styles/PositionDescription.module.css */

.descriptionContainer {
  /* Style your container div here. You might need to add or modify properties based on your needs. */
  text-align: center;
}

.spacingDiv {
  height: 5px;
  width: 100%;
}

.loadingText {
  /* Style for loading text. E.g. */
  color: #999;
}

@keyframes loadingDots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.loadingText::after {
  content: "...";
  animation: loadingDots 1s steps(5, end) infinite;
}

.hidden {
  display: none;
}
