/* styles/FileInputForm.module.css */

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
}

.textArea {
  resize: none;
  width: 100%;
  /* Updated width */
  height: 150px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2c2c2c;
  color: #ffffff;
  outline: none;
}

.fileUpload {
  cursor: pointer;
}

.button:hover {
  background-color: #0055d4;
}
